doctype html
html
  head
    title 404 - Not Found
  body
    //- 注意是绝对路径,不然访问url改变，图片的请求地址也会在相对 url 基础上添加路径， '/' 指向 localhost:3000 还是 req.url为 / ??
    img(src = '/images/404 2.png')
  style(lang='less').
    @keyframes float {
      0% {
        transform: translateY(0rem)
      }
      50% {
        transform: translateY(3rem)
      }
      100% {
        transform: translateY(0rem)
      }
    }

    body {
        background: 	#2F4F4F;
    }

    img {
      display: block;
      margin : auto;
      animation: float 2s linear infinite;
    }
