@font-face {
  font-family: 'iconfont';  /* Project id 2794479 */
  src: url('//at.alicdn.com/t/font_2794479_p2z3bfvyfie.woff2?t=1636894845709') format('woff2'),
       url('//at.alicdn.com/t/font_2794479_p2z3bfvyfie.woff?t=1636894845709') format('woff'),
       url('//at.alicdn.com/t/font_2794479_p2z3bfvyfie.ttf?t=1636894845709') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowdown:before {
  content: "\e679";
}

.icon-riqi2:before {
  content: "\e697";
}

.icon-Marker:before {
  content: "\e67c";
}

.icon-code:before {
  content: "\e6f2";
}

.icon-publish:before {
  content: "\e89d";
}

.icon-qq:before {
  content: "\e60b";
}

.icon-qq1:before {
  content: "\e65b";
}

.icon-wechat:before {
  content: "\e629";
}

.icon-local:before {
  content: "\e645";
}

.icon-tags:before {
  content: "\e7e5";
}

.icon-local1:before {
  content: "\e662";
}

.icon-github:before {
  content: "\e72a";
}

.icon-email:before {
  content: "\e675";
}

.icon-time:before {
  content: "\e680";
}

.icon-tag:before {
  content: "\e62b";
}

.icon-65qiehuan:before {
  content: "\e64c";
}

.icon-qiehuan:before {
  content: "\e673";
}

.icon-qiehuan1:before {
  content: "\e606";
}

.icon-qiehuan2:before {
  content: "\e628";
}

.icon-qiehuan3:before {
  content: "\e7b6";
}

.icon-qiehuan4:before {
  content: "\e61f";
}

.icon-qiehuan5:before {
  content: "\e611";
}

.icon-qiehuan6:before {
  content: "\e656";
}

.icon-qiehuan7:before {
  content: "\e607";
}

.icon-arrowup:before {
  content: "\e66d";
}

.icon-arrowon:before {
  content: "\e65c";
}

.icon-close:before {
  content: "\e66c";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-browse:before {
  content: "\e667";
}

.icon-back:before {
  content: "\e668";
}

.icon-caps-lock:before {
  content: "\e669";
}

.icon-attachment:before {
  content: "\e66a";
}

.icon-comment:before {
  content: "\e66b";
}

.icon-elipsis:before {
  content: "\e66e";
}

.icon-edit:before {
  content: "\e66f";
}

.icon-eye-close:before {
  content: "\e670";
}

.icon-favorite:before {
  content: "\e671";
}

.icon-file-common:before {
  content: "\e672";
}

.icon-home:before {
  content: "\e674";
}

.icon-link:before {
  content: "\e676";
}

.icon-menu:before {
  content: "\e677";
}

.icon-loading:before {
  content: "\e678";
}

.icon-play:before {
  content: "\e67a";
}

.icon-pin:before {
  content: "\e67b";
}

.icon-share:before {
  content: "\e67d";
}

.icon-sign-out:before {
  content: "\e67e";
}

.icon-upload:before {
  content: "\e682";
}

